/* --------------------------------------------*/
/* General-------------------------------------*/
/* --------------------------------------------*/

* {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

html {
    height: 100%;
    color: #ffa615;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 4px solid black;
    margin: 6px;
}

body {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    /*-khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
    background-color: #333333;
    text-align: center;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

html, body {
    position: fixed;
    overflow: hidden;
    width: 100%;
}

h1 {
    margin: 10px;
    padding: 0;
}

img {
    margin-top: 0px;
    padding: 0;
}

/* --------------------------------------------*/
/* Buttons for pausing and resuming------------*/
/* --------------------------------------------*/

.pauseResume {
    margin-left: auto;
    margin-right: auto;
}

#pauseGame {
    display: block;
}

#resumeGame {
    display: none;
}

/* --------------------------------------------*/
/* Info (Current level & Rows to next level----*/
/* --------------------------------------------*/

#info {
    margin: 0;
    padding: 0;
}

/* --------------------------------------------*/
/* Current level-------------------------------*/
/* --------------------------------------------*/

#levelDiv {
    display:inline-block;
    margin-bottom: 0px;

    margin: 0;
    padding: 0;
}

#levelLabel {
    display:inline-block;
    margin-right:3px;
    line-height: 0;

    margin: 0;
    padding: 0;
}

#levelDisplay {
    display:inline-block;
    line-height: 0;
    color: #ffa615;
    margin-right:3px;

    margin: 0;
    padding: 0;
}

/* --------------------------------------------*/
/* Rows to next level--------------------------*/
/* --------------------------------------------*/

#rowsToNextLevelDiv {
    display:inline-block;
    margin-bottom: 0px;

    margin: 0;
    padding: 0;
}

#rowsToNextLevelLabel {
    display:inline-block;
    margin-right:3px;
    line-height: 0;

    margin: 0;
    padding: 0;
}

#rowsToNextLevelDisplay {
    display:inline-block;
    line-height: 0;
    color: #ffa615;
    margin-right:3px;

    margin: 0;
    padding: 0;
}

/* --------------------------------------------*/
/* Matchfield----------------------------------*/
/* --------------------------------------------*/

#matchfield {
    vertical-align: middle;
    position:relative;
    margin:auto;
    border: 4px solid black;
}

#matchfield th, td {
    position: relative;
}

#matchfield td:after {
    content: '';
    display: block;
    margin-top: 100%;
}

/* --------------------------------------------*/
/* Colors of cells-----------------------------*/
/* --------------------------------------------*/


#matchfield td.yellow-cell {
    background-color: yellow;
}

#matchfield td.blue-cell {
    background-color: darkblue;
}

#matchfield td.red-cell {
    background-color: darkred;
}

#matchfield td.default-cell {
    background-color: #333333;
}

#matchfield td.green-cell {
    background-color: green;
}

#matchfield td.cyan-cell {
    background-color: cyan;
}

#matchfield td.pink-cell {
    background-color: pink;
}

#matchfield td.white-cell {
    background-color: white;
}

/* --------------------------------------------*/
/* Rotations of the matchfield-----------------*/
/* --------------------------------------------*/


#matchfield.bottom-right {
    transform: rotate(270deg);
    transition: transform 1s ease;

}

#matchfield.normal {
    transform: rotate(0deg);
    transition: transform 1s ease;

}

#matchfield.over-head {
    transform: rotate(180deg);
    transition: transform 1s ease;

}

#matchfield.bottom-left {
    transform: rotate(90deg);
    transition: transform 1s ease;
}

/* --------------------------------------------*/
/* Start overlay-------------------------------*/
/* --------------------------------------------*/

#startOverlay {
    text-align: center;
    color: #ffa615;
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 2;
    cursor: pointer;
}

#startMessage {
    vertical-align: middle;
}

#startGame {
    color: #ffa615;
    border-radius: 3px;
    border: 2px solid #ffa615;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.0);
    display: none;
}

/* Hide instructions for mobile device by default */
.instructions .mobile {
    display: none;
}
/* Show instructions for mobile device when screen is less than 600px wide */
@media (max-width: 600px) {
    #instructions #mobile {
        display: block;
    }
    #instructions #desktop {
        display: none;
    }
}

/* --------------------------------------------*/
/* Info overlay--------------------------------*/
/* --------------------------------------------*/

#infoOverlay {
    text-align: center;
    color: #ffa615;
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 2;
    cursor: pointer;
}

#infoMessage {
    margin-top: 100px;
    vertical-align: middle;
}